.b-light {
  border: 1px solid #E1E4E8;
  border-radius: 2px;
}
.mv2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature .icon i:before {
  vertical-align: middle;
}

.feature h3 {
  display: inline-block;
}

.demo-card {
  line-height: 1.0;
}

header h1 {
	
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 100px;
}

header h1 .subscript {
	font-size: 50px;
}

header {
	color: #404042;
  text-align: center;
  background-color: #F1F8FF;
  padding: 20px;
}

header h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 34px;
}

header .features {
  list-style: none;
  margin-top: 30px;
}
header .features .feature {
  white-space: nowrap;
  display: inline;
  vertical-align: middle;
}

header .features .feature:not(:first-child) {
  margin-left: 20px;
  
}
header .features [class^="icon-"], header .features [class*=" icon-"] {
  font-size: 32px;
  display: inline-block;
}

header .features .feature-text {
  display: inline-block;
  max-width: 115px;
  line-height: 13pt;
  white-space: initial;
}
@font-face {
  font-family: 'gmc';
  src:  url('../fonts/gmc.eot?s71cx4');
  src:  url('../fonts/gmc.eot?s71cx4#iefix') format('embedded-opentype'),
    url('../fonts/gmc.ttf?s71cx4') format('truetype'),
    url('../fonts/gmc.woff?s71cx4') format('woff'),
    url('../fonts/gmc.svg?s71cx4#gmc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gmc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light:before {
  content: "\e900";
}
.icon-compatible:before {
  content: "\e901";
}
.icon-customisable:before {
  content: "\e902";
}
.icon-straightforward:before {
  content: "\e903";
}
.icon-fast:before {
  content: "\e904";
}


.separator {
  border-bottom: 1px solid #E1E4E8;
  margin-top: 30px;
  margin-bottom: 30px;
}



/* Swift repo/user */
.user-repo-switch .btn {
  color: #fff;
  background-color: #97C4F0;
  border-color: #97C4F0;
  border-radius: 30px;
  font-size: 11pt;
}
.user-repo-switch .btn:focus {
  box-shadow: none;
}
.user-repo-switch .btn.active {
  background-color: #0366D6;
  border-color: #0366D6;
}
.user-repo-switch .btn:hover {
  background-color: #2078DA;
  border-color: #2078DA;
}

/* Tabs */

.nav-tabs > li > a {
  position: relative;
}
.nav.nav-tabs[role="tablist"] {
  border-bottom: 2px solid #DDD;
}

.nav.nav-tabs[role="tablist"] > li > a.active, .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}
.nav.nav-tabs[role="tablist"] > li > a.active::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.nav.nav-tabs[role="tablist"] > li > a {
    border: none;
    color: #666;
}
.nav.nav-tabs[role="tablist"] > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.tab-pane { 
  padding: 20px; 
}

#repoNameInput, #userNameInput {
  width: inherit;
}
.mini-link {
  text-decoration: underline ;
  font-size: 10pt;
}
footer {
  color: #404042;
  text-align: center;
  background-color: #F1F8FF;
  padding: 20px;
}

pre code.hljs {
  padding: 12px 20px;
  border-radius: 2px;
  display: block;
}

.nav-pills a.nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0366D6;
}
.nav-pills .nav-item:not(:last-child) a.nav-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-pills .nav-item:not(:first-child) a.nav-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #fff;
}
.nav-pills a.nav-link {
  color: #fff;
  background-color: #97C4F0;
  border-radius: 30px;
  font-size: 11pt;
}
.nav-pills a.nav-link:hover {
  background-color: #2078DA;
}


/**
  Header
  */

.header-content {
  max-width: 800px;
}


/**
  Side bar
  */
.toc ul {
  padding: 0;
}
.toc-entry {
  display: block;
  padding-left: 8px;
}
.toc-entry a {
  display: block;
  
}
.toc-entry.toc-h2 {
  font-size: 11pt;
}
.toc-entry.toc-h3 {
  font-size: 10pt;
}

.card-container {
  margin: 20px;
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
 .toc {
  display: none;
 }
}



.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
code.hljs {
  display: inline;
}
