{% extends "src/demo/snippets/abstractPage.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="css/demo.css">
	<link rel="stylesheet" type="text/css" href="css/generator.css">

  <!-- Syntactic coloration -->
  <link rel="stylesheet" type="text/css" href="css/ocean.css">

	<!-- Styles for the cards -->
	<style type="text/css">
      {{ includeFile('src/themes/css/snippets/basic_github.css') | safe }}
      {{ includeFile('src/themes/css/gh_pure.css') | safe }}
      {{ includeFile('src/themes/css/gh_full.css') | safe }}
      {{ includeFile('src/themes/css/gh_recommendation.css') | safe }}
      {{ includeFile('src/themes/css/snippets/loading.css') | safe }}
      {{ includeFile('src/themes/css/codeshape.css') | safe }}
      {{ includeFile('src/themes/css/gh_usercard.css') | safe }}
    </style>

{% endblock %}

{% block body %}
<div class="nav-bar"><h1>GMC<span class="subscript">.js</span></h1></div>
{% set home_link="../index.html" %}
{% include "src/demo/snippets/header.html" %}

{% macro theme_option(theme_name) %}
<div class="theme-item" data-theme-option-id="{{theme_name}}">
  <div class="item-header">
    <svg width="98px" height="20px" viewBox="0 0 98 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="transform: scaleX({{theme_name.length / 8 }}) translateX({{(theme_name.length / 8 )*49 - 49}}px);">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
          <path d="M7.00379441,14 C9.9896127,16.9303376 12.0273237,19 14.0037944,19 C15.9802652,19 80.9794322,19 83.0037944,19 C85.0281566,19 86.9761807,16.9404347 90.0037944,14 C93.0314081,11.0595653 94.0064281,10 97.0037944,10 C97.6687053,10 97.5647208,10 96.6918409,10 C97.5332014,10 97.6371859,10 97.0037944,10 C94.0537072,10 93.0254611,9.03459251 90.0037944,6 C86.9821278,2.96540749 85.0193847,1 83.0037944,1 C80.9882041,1 15.9829413,1 14.0037944,1 C12.0246475,1 9.97420234,2.93288418 7.00379441,6 C4.03338649,9.06711582 3.00357306,10 0.00379441182,10 C3.04064041,10 4.01797612,11.0696624 7.00379441,14 Z" id="Combined-Shape" stroke="#2078DA" fill="#2078DA"></path>
      </g>
    </svg>
    <svg class="light" width="98px" height="20px" viewBox="0 0 98 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="transform: scaleX({{theme_name.length / 8 }}) translateX({{(theme_name.length / 8 )*49 - 49}}px);">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
          <path d="M7,14 C9.98581829,16.9303376 12.0235293,19 14,19 C15.9764707,19 80.9756378,19 83,19 C85.0243622,19 86.9723863,16.9404347 90,14 C93.0276137,11.0595653 94.0026337,10 97,10 C97.6649109,10 97.5609264,10 96.6880465,10 C97.529407,10 97.6333915,10 97,10 C94.0499128,10 93.0216667,9.03459251 90,6 C86.9783333,2.96540749 85.0155903,1 83,1 C80.9844097,1 15.9791469,1 14,1 C12.0208531,1 9.97040793,2.93288418 7,6 C4.02959207,9.06711582 2.99977865,10 2.98427949e-13,10 C3.036846,10 4.01418171,11.0696624 7,14 Z" id="Combined-Shape" stroke="#97C4F0" fill="#97C4F0"></path>
      </g>
    </svg>

    <p>
      {{theme_name}}
    </p>
  </div>
  <div class="card-demo">
    {% include "src/themes/templates/" + theme_name + ".html" %}
  </div>
</div>
{% endmacro %}

{#<!--<div id="modal-theme-selection">
  <div class="modal-background">
    <div class="revealing-modal">
      <section class="repo-themes-section">
        {{theme_option("gh_basic")}}
        {{theme_option("gh_pure")}}
        {{theme_option("gh_full")}}
        {{theme_option("gh_recommendation")}}
      </section>
      <section class="user-themes-section">
        <div class="theme-item">
          {% include "src/themes/templates/gh_usercard.html" %}
        </div>
      </section>
    </div>
  </div>
</div>--> #}



<div class="container main-container">
	<div class="row">
    <h3 class="col-lg-12">Costomize the card</h3>

    <!-- multistep form -->
    <div id="msform" class="col-lg-12">
      <!-- progressbar -->
      <ul class="progressbar">
        <li class="active" id="gh-id-progressbar-el">User/Repo name</li>
        <li id="theme-progressbar-el">Theme</li>
        <li id="export-progressbar-el">Export</li>
      </ul>
      <!-- fieldsets -->
      <fieldset class="row" id="fs-gh-id">
        <h2 class="fs-title col-lg-12">User/Repo name</h2>
        <h3 class="fs-subtitle col-lg-12">Step 1</h3>
        
        <p class="txt-error col-sm-8 offset-md-4"></p>
        <label for="gh-id-txt" class="col-sm-4">Username or full repo name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control " id="gh-id-txt" placeholder="e.g. tsucres or tsucres/GithubManyfacedCards">
        </div>
        <button name="next" class="next action-button btn btn-primary load-btn" id="gh-id-next-btn">Next</button>
      </fieldset>
      <fieldset class="row hidden" id="fs-theme">
        <h2 class="fs-title col-lg-12">Theme</h2>
        <h3 class="fs-subtitle col-lg-12">Step 2</h3>
        <label for="theme-opt" class="col-sm-4 offset-sm-2">Theme of the <span class="gmc-type">repo</span> card</label>
        <div class="btn-group col-sm-4">
          <button id="theme-opt" type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="modal" data-target="#modal-theme-selection">
            <span class="filter-option pull-left">gh_basic</span>&nbsp;<span class="caret"></span>
          </button>
        </div>
        <p class="mini-info-txt offset-sm-1 col-sm-11 text-left mt-4 mb-2 ">Preview: </p>
        <div id="theme-preview-container">
          
        </div>
        <div class="col-sm-5 offset-md-3">
          <button name="previous" class="next action-button btn btn-primary load-btn" id="theme-previous-btn">Previous</button>
          <button name="next" class="next action-button btn btn-primary load-btn" id="theme-next-btn">Next</button>
        </div>
      </fieldset>
      <fieldset class="row hidden" id="fs-export">
        <h2 class="fs-title col-lg-12">Export</h2>
        <h3 class="fs-subtitle col-lg-12">How do you want to integrate it?</h3>
        
        <div class="col-sm-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs d-flex justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#easy-gen" role="tab">Easy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#efficient-gen" role="tab">Efficient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#efficienter-gen" role="tab">Even more efficient</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active mv2 b-light show fade" id="easy-gen" role="tabpanel">
              <p>Paste the following piece of markup where you need you want the card.</p>
              <pre><code class="html" id="easy-code-html">
                
              </code></pre>
            </div>
            <div class="tab-pane mv2 b-light fade" id="efficient-gen" role="tabpanel">
              <p>Import <code>gmc.js</code> in your page (before the first card</p><br>
              <pre><code class="html" id="efficient-code-gmc-import">
                {{- '<script src="https://cdn.rawgit.com/tsucres/GithubManyfacedCards/0.3.0/dist/gmc.min.js"></script>' | preCode -}}
              </code></pre>
              
              <p>Paste the following piece of markup where you want your card.</p>
              <pre><code class="html" id="efficient-code-html"></code></pre>
            </div>
            <div class="tab-pane mv2 b-light fade" id="efficienter-gen" role="tabpanel">
              <p>Copy the following code in your page</p>
              <h5>Style</h5>
              <p>Link <a href="" id="efficienter-link-css" target="_blank" download></a> to your document.</p>
              <pre><code class="html" id="efficienter-code-css">
                
              </code></pre>
              <h5>Markup</h5>
              <p>Paste the following markup where you need your card to be:</p>
              <pre><code class="html" id="efficienter-code-html">
                
              </code></pre>

              <h5>Javascript</h5>
              <p><a href="" id="efficienter-link-js" target="_blank" download></a> contains the javascript code that is needed by the skin you chose. Link it to your page: <p>
              <pre><code class="html" id="efficienter-code-js">
                
              </code></pre>
              <h5>Import GMC.js</h5>
              <p>Link <a href="https://cdn.rawgit.com/tsucres/GithubManyfacedCards/0.3.0/dist/gmc.min.js" target="_blank" download>gmc.min.js</a> to your document.</p>
              <pre><code class="html" id="efficienter-code-gmc-import">
                {{- '<script src="https://cdn.rawgit.com/tsucres/GithubManyfacedCards/0.3.0/dist/gmc.min.js"></script>' | preCode -}}
              </code></pre>
              <h5>Load the cards</h5>
              <p>After the DOM is loaded, call the following function: </p>
              <pre><code class="js" id="efficienter-code-gmc-load">
                {{- 'GMC.loadAllCards()' | preCode -}}
              </code></pre>
            </div>
          </div>
        </div> 
        <button name="previous" class="next action-button btn btn-primary load-btn" id="export-previous-btn">Previous</button>
      </fieldset>
    </div>


    
	</div>
	
</div>
<div class="modal fade" id="modal-theme-selection" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <section class="repo-themes-section">
          {{theme_option("gh_basic")}}
          {{theme_option("gh_pure")}}
          {{theme_option("gh_full")}}
          {{theme_option("gh_recommendation")}}
        </section>
        <section class="user-themes-section">
            {{theme_option("codeshape")}}
            {{theme_option("gh_usercard")}}
        </section>
      </div>
    </div>
  </div>
</div>
{% include "src/demo/snippets/footer.html" %}
{% endblock %}

{% block endJs %}
<script type="text/javascript" src="/dist/gmc.min.js"></script>
<script type="text/javascript" src="/demo/js/highlight.pack.min.js"></script>
<script type="text/javascript" src="/demo/js/demo_card_js.min.js"></script>
<script type="text/javascript">
  var initialTitleHeight;
  var titleElement;
  var jsSubscriptElement;
  var initialJsSubscriptHeight;
  var navBarElement;
  var subtitleElement;
  var featuresListElement;

  var codeExportEasyContainer;
  var codeExportEfficientContainer;
  var codeExportEfficienterContainer;

  function updateTitle(scrollTop) {
    var percent = scrollTop/initialTitleHeight > 1 ? 1 : scrollTop/initialTitleHeight;
    var targetTitleFontSize =  20; 
    var initialTitleFontSize = 100;
    var newFontSize = initialTitleFontSize - percent*(initialTitleFontSize-targetTitleFontSize);

    var initialJsSubscriptFontSize = 50;
    var targetJsSubscriptFontSize = 12;

    jsSubscriptElement.style.fontSize = initialJsSubscriptFontSize - percent*(initialJsSubscriptFontSize-targetJsSubscriptFontSize) + "px";

    titleElement.style.fontSize = initialTitleFontSize - percent*(initialTitleFontSize-targetTitleFontSize) + "px";
    

      titleElement.style.top = (scrollTop-10) + "px";
      titleElement.style.left = "-" + percent*400 + "px";
      featuresListElement.style.opacity = 1.5 - 1.5*percent;
      subtitleElement.style.opacity = 1.3 - 1.3*percent;
  }

  function updateSubTitle(scrollTop) {
    var percent = scrollTop/initialTitleHeight > 1 ? 1 : scrollTop/initialTitleHeight;

  }
  function updateFeatures(scrollTop) {
    var percent = scrollTop/initialTitleHeight > 1 ? 1 : scrollTop/initialTitleHeight;


  }

  function updateNavBar(scrollTop) {
    if (scrollTop >= initialTitleHeight) {
      navBarElement.classList.add("shown");
    } else {
      navBarElement.classList.remove("shown");
    }
  }
  window.addEventListener("load", function() {
    titleElement = document.querySelector(".header-content h1");
    initialTitleHeight = titleElement.offsetHeight;
    jsSubscriptElement = titleElement.querySelector(".subscript");
    initialJsSubscriptHeight = jsSubscriptElement.offsetHeight;
    navBarElement = document.querySelector(".nav-bar");
    featuresListElement = document.querySelector(".header-content .container-fluid");
    subtitleElement = document.querySelector(".header-content h3");

    codeExportEasyContainer = document.getElementById("easy-gen");
    codeExportEfficientContainer = document.getElementById("efficient-gen");
    codeExportEfficienterContainer = document.getElementById("efficienter-gen");

    window.onscroll = function(e) {
      var yPosition = e.target.scrollingElement.scrollTop;
      var headerHeight = 120;
      
      updateTitle(yPosition);
      updateSubTitle(yPosition);
      updateFeatures(yPosition);
      updateNavBar(yPosition);

      

    }
  }, false);
  
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
  var CDN_DIST_URL = "https://cdn.rawgit.com/tsucres/GithubManyfacedCards/0.3.0/dist/";

  var gh_id_txt = null; // txt input handling the gh id (user/repo name)
  var gh_id_next_btn = null; // Next button in the first step
  var gh_id_progressbar_el = null; // Element for the first step in the progress bar

  var theme_opt = null; // theme option
  var theme_next_btn = null; // Next button in the first step
  var theme_progressbar_el = null; // Element for the second step in the progress bar
  var theme_previous_btn = null; // Next button in the first step
  var export_previous_btn = null;
  var export_progressbar_el = null; // Element for the last step in the progress bar
  var step_loading = false; // Indicates if there is a transition currently happening

  var currentJson = null; // Downloaded json
  var currentJsonType = null; // "Repo" or "User"

  var theme_lst_modal_container = null;

  var theme_preview_container = null;

  function getJson(url, callback) {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === 4) { 
        var json = null;
        try {
          json = JSON.parse(request.responseText);
        } catch (er) {
          console.error("Couldn't fetch json: " + url);
          console.log("Status: " + request.status);
        }
        callback(json);
      } 
    };
    request.open('GET', url);
    request.setRequestHeader('Accept', 'application/vnd.github.mercy-preview+json');
    request.send();
  }
  function getRepoJson(fullRepoName, callback) {
    getJson("https://api.github.com/repos/" + fullRepoName, callback);
  }
  function getUserJson(username, callback) {
    getJson("https://api.github.com/users/" + username, callback);
  }

  function isRepoOrUser(name) {
    if (name.indexOf("/") == -1) {
      return "User";
    } else {
      return "Repo";
    }
  }

  /**
    Starts the animation to transition from a step to the next one
    @param current_fs the fieldset that is currently shown
    @param next_fs the fieldset to be shown
    @param callback called (with no args) when the animation stops
    */
  function transitionNextFieldset(current_fs, next_fs, callback) {
    current_fs.classList.add("anim-disap");
    next_fs.classList.add("anim-appear");
    next_fs.classList.remove("hidden");
    setTimeout(function() {
      current_fs.classList.remove("anim-disap");
      current_fs.classList.add("hidden");
      next_fs.classList.remove("anim-appear");
      callback();
    }, 800);
  }

  /**
    Starts the animatino to come back to the rpevious step
    @param current_fs the fieldset that is currently shown
    @param previous_fs the fieldset to be shown
    @param callback called (with no args) when the animation stops
    */
  function transitionPreviousFieldset(current_fs, previous_fs, callback) {
    current_fs.classList.add("anim-appear", "anim-reverse");
    previous_fs.classList.add("anim-disap", "anim-reverse");
    previous_fs.classList.remove("hidden");
    setTimeout(function() {
      current_fs.classList.remove("anim-appear", "anim-reverse");
      current_fs.classList.add("hidden");
      previous_fs.classList.remove("anim-disap", "anim-reverse");
      callback();
    }, 800);
  }

  // Id of the modal div that contains the theme selection list
  var theme_selection_modal_id = "modal-theme-selection";

  function updateThemePreview(selectedElement) {
    theme_preview_container.innerHTML = selectedElement.querySelector(".card-demo").outerHTML;
    var newThemeName = selectedElement.getAttribute("data-theme-option-id");
    theme_opt.querySelector("span").innerText = newThemeName;
  }


  /**
    @param a valid json retrieved from github describing either a user or a repo
    @param repoOrUser a string, either "Repo" or "User"
  */
  function fillThemeSelectionList(json, repoOrUser) {
    var items = [];
    
    if (repoOrUser == "Repo") {
      items = document.querySelectorAll("#" + theme_selection_modal_id + " .theme-item");
      document.querySelector("#" + theme_selection_modal_id + " .user-themes-section").classList.add("hidden");
      document.querySelector("#" + theme_selection_modal_id + " .repo-themes-section").classList.remove("hidden");
    } else if (repoOrUser == "User") {
      items = document.querySelectorAll("#" + theme_selection_modal_id + " .user-themes-section .theme-item");
      document.querySelector("#" + theme_selection_modal_id + " .repo-themes-section").classList.add("hidden");
      document.querySelector("#" + theme_selection_modal_id + " .user-themes-section").classList.remove("hidden");
    }
    for (var i = items.length - 1; i >= 0; i--) {
      
      var card = items[i].querySelector(".card-demo");
      if (card) {
        (new GMC(card, json));
        items[i].addEventListener("click", function(evt) {
          updateThemePreview(evt.target);
          $(theme_lst_modal_container).modal('hide');
        }, false);
      }
      
    }
  }

  var gh_id_next_btn_click = function(evt) {
    if(step_loading) return false;
    if (gh_id_txt.value == "") {
      document.querySelector("#fs-gh-id .txt-error").innerText = "There is something missing here.";
      gh_id_txt.classList.add("error");
      return false;
    } 
    step_loading = true;
    gh_id_next_btn.classList.add('loading');

    
    function jsonDownloaded(json) {
      if (json) {
        if (json.message && json.message == "Not Found") {
          currentJsonType = null;
          currentJsonType = null;
          document.querySelector("#fs-gh-id .txt-error").innerText = "Are you sure this id exists?";
          gh_id_txt.classList.add("error");
          step_loading = false;
        } else {
          currentJson = json;
          theme_progressbar_el.classList.add("active");
          gh_id_txt.classList.remove("error");
          document.querySelector("#fs-gh-id .txt-error").innerText = "";
          fillThemeSelectionList(json, isRepoOrUser(gh_id_txt.value));
          var categoryElement = ".repo-themes-section";
          if (isRepoOrUser(gh_id_txt.value) == "User") {
            categoryElement = ".user-themes-section";
          } 
          updateThemePreview(document.querySelector("#" + theme_selection_modal_id + " " + categoryElement + " .theme-item"));
          transitionNextFieldset(document.getElementById("fs-gh-id"), document.getElementById("fs-theme"), function() {
            step_loading = false;
          });
        }
      } else {
        currentJsonType = null;
        document.querySelector("#fs-gh-id .txt-error").innerText = "There was an error while retrieving data from Github.";
        gh_id_txt.classList.add("error");
        step_loading = false;
      }
      gh_id_next_btn.classList.remove('loading');
    }
    if (isRepoOrUser(gh_id_txt.value) == "Repo") {
      currentJsonType = "Repo";
      getRepoJson(gh_id_txt.value, jsonDownloaded);
    } else {
      currentJsonType = "User";
      getUserJson(gh_id_txt.value, jsonDownloaded);
    }

    return false;
    
  }

  function getSelectedTheme() {
    if (!theme_opt) {return;}
    return theme_opt.querySelector("span").innerText;
  }

  function theme_next_btn_click(evt) {
    // Generate codes for the three methods
    var selectedTheme = getSelectedTheme();

    // Easy 
    var easy_code_html_element = document.getElementById("easy-code-html");
    var userOrRepo = currentJsonType == "Repo" ? "rn" : "un";
    easy_code_html_element.innerText = '<iframe src="' + CDN_DIST_URL + 'themes/' + selectedTheme + '/embedded/embedded.gmc.min.html?' + userOrRepo + '=' + gh_id_txt.value + '" frameborder="0"></iframe>';
    hljs.highlightBlock(easy_code_html_element);

    // Efficient
    var efficient_code_html_element = document.getElementById("efficient-code-html");
    userOrRepo = currentJsonType == "Repo" ? "data-gmc-repo" : "data-gmc-user";
    efficient_code_html_element.innerText = '<script async src="' + CDN_DIST_URL + 'gmc-loader.min.js" ' + userOrRepo + '="' + gh_id_txt.value + '" data-gmc-theme="' + selectedTheme + '"><' + '/script>';
    hljs.highlightBlock(efficient_code_html_element);
    hljs.highlightBlock(document.getElementById("efficient-code-gmc-import"));

    // "Efficienter"
    var efficienter_code_html_element = document.getElementById("efficienter-code-html");

    var cssURL = CDN_DIST_URL + "themes/" + selectedTheme + "/" + selectedTheme + ".css";
    var efficienter_link_css_element = document.getElementById("efficienter-link-css");
    efficienter_link_css_element.innerText = selectedTheme + ".min.css";
    efficienter_link_css_element.href = cssURL;
    var efficienter_code_css_element = document.getElementById("efficienter-code-css");
    efficienter_code_css_element.innerText = '<link href="' + cssURL + '" rel="stylesheet" type="text/css">';
    hljs.highlightBlock(efficienter_code_css_element);

    var jsURL = CDN_DIST_URL + "themes/" + selectedTheme + "/" + selectedTheme + ".js";
    var efficienter_link_js_element = document.getElementById("efficienter-link-js");
    efficienter_link_js_element.innerText = selectedTheme + ".min.js";
    efficienter_link_js_element.href = jsURL;
    var efficienter_code_js_element = document.getElementById("efficienter-code-js");
    efficienter_code_js_element.innerText = '<script src="' + jsURL + '"><' + '/script>';
    hljs.highlightBlock(efficienter_code_js_element);
    hljs.highlightBlock(document.getElementById("efficienter-code-gmc-import"));
    var htmlURL = CDN_DIST_URL + "themes/" + selectedTheme + "/" + selectedTheme + ".html";
    var efficienter_code_html_element = document.getElementById("efficienter-code-html");
    var xhr = new XMLHttpRequest(); 
    xhr.open('GET', htmlURL, true); 
    xhr.onreadystatechange = function () { 
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
              efficienter_code_html_element.innerText = xhr.responseText;
              hljs.highlightBlock(efficienter_code_html_element);
            } else {
              console.error("Failed to retrieve template for theme '" + selectedTheme + "'. Status = " + xhr.status);
            }
        }
    };
    xhr.send(null);

    hljs.highlightBlock(document.getElementById("efficienter-code-gmc-load"));
    export_progressbar_el.classList.add("active");
    transitionNextFieldset(document.getElementById("fs-theme"), document.getElementById("fs-export"), function() {
        step_loading = false;
      }
    );
  }

  function theme_previous_btn_click(evt) {
    step_loading = true;
    theme_progressbar_el.classList.remove("active");
    transitionPreviousFieldset(document.getElementById("fs-theme"), document.getElementById("fs-gh-id"), function() {
        step_loading = false;
      }
    );
  }
  function export_previous_btn_click(evt) {
    step_loading = true;
    export_progressbar_el.classList.remove("active");
    transitionPreviousFieldset(document.getElementById("fs-export"), document.getElementById("fs-theme"), function() {
        step_loading = false;
      });
  }


  function theme_opt_click(evt) {
    evt.preventDefault();
    theme_lst_modal_container.classList.add("revealing");

  }

  function close_modal_theme_selection() {
    theme_lst_modal_container.classList.add('out');
    //theme_lst_modal_container.classList.remove('revealing');
  }
  window.addEventListener("load", function() {
    gh_id_txt = document.getElementById("gh-id-txt");
    gh_id_txt.addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode === 13) { // Enter
        gh_id_next_btn_click();
      }
    });
    gh_id_progressbar_el = document.getElementById("gh-id-progressbar-el");
    gh_id_next_btn = document.getElementById("gh-id-next-btn");
    gh_id_next_btn.addEventListener("click", gh_id_next_btn_click, false);

    theme_lst_modal_container = document.getElementById(theme_selection_modal_id);
    theme_opt = document.getElementById("theme-opt");
    theme_opt.addEventListener("click", theme_opt_click, false);
    theme_progressbar_el = document.getElementById("theme-progressbar-el");
    theme_next_btn = document.getElementById("theme-next-btn");
    theme_next_btn.addEventListener("click", theme_next_btn_click, false);
    theme_previous_btn = document.getElementById("theme-previous-btn");
    theme_previous_btn.addEventListener("click", theme_previous_btn_click, false);

    theme_preview_container = document.getElementById("theme-preview-container");

    export_previous_btn = document.getElementById("export-previous-btn");
    export_previous_btn.addEventListener("click", export_previous_btn_click, false);
    export_progressbar_el = document.getElementById("export-progressbar-el");
  }, false);


  </script>


{% endblock %}
