<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="GMC, GitHub Manyfaced Cards, widgets, github, cards">
    <meta name="description" content="GitHub Manyfaced Cards are extreamely extendable and customisable widgets for GitHub repositories and users. They are easily embeddable on any webpage.">
        
    <title>{% block title %}GitHub Manyfaced Cards{% endblock %}</title>

    <!-- favicon -->
    <!-- TODO -->

    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    {% block head %}
    
    {% endblock %}

</head>
<body>
    {% block body %}
    {% endblock %}
     

    {% block endJs %}

    {% endblock %}
</body>
</html>